services:
  - type: web
    name: backend-msow
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
    maxBodySize: 15mb
